<center>
  <h1>Speedy Service</h1>

  <h3>Sign-in</h3>
  <form method='get' action='/welcome'>
    Username:<input type='text' name='username'> <br>
    Password:<input type='password' name='password'><br><br>
    <input type='submit' value='Submit'>
  </form><br><br>


  <h3 style='font-size: 18px'>Don't have an account? </h3>

  <form method='get' action='/signup'>
    <input type='submit' name='sign-up' value='sign-up'>
  </form>

</center>
